<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{{title}}}</title>
  <meta charSet="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no"/>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/{{theme}}.css">
  <link rel="icon" type="{{{iconType}}}" href="{{{icon}}}">
  {{#if (partialExists headers)}}
    {{> headers }}
  {{/if}}
  {{#each headers}}
    {{{this}}}
  {{/each}}
</head>
<body>
<div class="side-fill">
  <div class="side-gap"></div>
  <div class="side-margin"></div>
</div>
<main>
  {{> header }}
  <narrow>
    <article{{#if articleStyle}} class="{{articleStyle}}"{{/if}}>
      {{> content }}
      {{{content}}}
    </article>
  </narrow>

  {{#unless no-footer}}
    {{> footer }}
  {{/unless}}
</main>
<div class="side-fill">
  <div class="side-margin"></div>
  <div class="side-gap"></div>
</div>
</body>
</html>
